.button
  background $color-background-white
  border 2px solid $color-background-blue
  border-radius 25px
  box-sizing border-box
  color $color-background-blue
  display inline-block
  font-size 14px
  height 100%
  min-width 50px
  overflow hidden
  position relative
  text-align center
  transition border .3s, background .3s
  transition-timing-function $easing-button

  .button__icon
    display inline-block
    font-family FontAwesome
    font-size 16px
    line-height 46px
    position relative
    transition transform .3s, color .3s
    transition-timing-function $easing-button

    &:after
      color $color-background-white
      content attr(data-icon)
      font-family FontAwesome
      left 0
      opacity 0
      position absolute
      top 0
      transform translate3d(0, 25%, 0)
      transition opacity .3s
      transition-timing-function $easing-button

  &:hover,
  &:active
    background $color-background-blue
    border 2px solid $color-background-blue
    color $color-background-white

    .button__icon
      color $color-background-blue
      transform translate3d(0, -25%, 0)

      &:after
        opacity 1

.button--with-text
  white-space nowrap

  .button__icon
    margin-right 24px

  .button__text
    display inline-block
    line-height 46px
    margin-left 24px
    margin-right 6px
    position relative
    transition transform .3s, color .3s
    transition-timing-function $easing-button

    &:after
      color $color-background-white
      content attr(data-text)
      left 0
      opacity 0
      position absolute
      text-align left
      top 0
      transform translate3d(0, 25%, 0)
      transition opacity .3s
      transition-timing-function $easing-button

  &:hover,
  &:active
    .button__text
      color $color-background-blue
      transform translate3d(0, -25%, 0)

      &:after
        opacity 1

.button--reverse
  background $color-background-blue
  border 2px solid $color-background-blue
  color $color-background-white

  &:hover,
  &:active
    background $color-background-white
    color $color-background-blue

    .button__icon,
    .button__text
      color $color-background-white

      &:after
        color $color-background-blue

.button--footer
  background $color-background-blue
  border 2px solid $color-background-white
  color $color-background-white

  &:hover,
  &:active
    background $color-background-white
    border 2px solid $color-background-white
    color $color-background-blue

    .button__icon,
    .button__text
      color $color-background-white

      &:after
        color $color-background-blue

/* specific instances */

.button--intro-check
  border-radius 28px
  height 56px
  max-width 288px
  width 100%

  .button__icon
    line-height 52px

  .button__text
    line-height 52px

.button--play-video
  animation moveUpButton .55s $easing-snap forwards
  background rgba($color-play-blue, .8)
  border 0
  border-radius 40px
  box-shadow 1px 1px rgba(black, .1)
  color $color-background-white
  height 80px
  transform translateY(-100%)
  width 80px

  .button__icon
    font-size 20px
    line-height 80px
    margin-left 6px

  &:hover,
  &:active
    background rgba($color-play-blue, 1)
    border 0

    .button__icon
      color rgba($color-play-blue, 1)

/* show play button when in viewport */

.visible .button--play-video
  animation moveDownButton .25s $easing-snap forwards
