#header
  position absolute
  width 100%
  z-index 100

.block--header
  overflow visible
  z-index 100

  .block--header__content
    align-items center
    display flex
    justify-content space-between
    margin-top 36px

    @media $media-query-mobile
      align-items flex-start
      margin-top 30px

    .site-title
      font-size 30px
      font-weight 600
      left 0
      letter-spacing -.5px
      line-height 30px
      margin 0
      position relative
      top 0

      @media $media-query-mobile
        font-size 24px
        line-height 24px

      .site-title__link
        color $color-headline-white
        text-decoration none

        .site-title__logo
          @media $media-query-mobile
            height auto
            width 61px

    .site-menu
      height 100%

      .site-menu__list
        align-items center
        display flex
        height 100%
        list-style none
        margin 0
        padding 0

        .site-menu__item
          font-size 18px
          font-weight 600
          letter-spacing -.5px
          line-height 34px
          margin-right 36px

          @media $media-query-mobile
            font-size 16px
            margin-right 20px

          @media $media-query-mini
            margin-right 12px

          &:last-child
            margin-right 0

          .site-menu__link
            color $color-headline-white
            display block
            text-decoration none

            &:hover
              color $color-play-blue
