#hero
  height calc(101vh)
  min-height 600px
  overflow hidden
  padding 0
  position relative
  z-index 1

  @media $media-query-block-intro
    height 65vh
    min-height auto

  @media (orientation landscape) and (max-width 768px)
    height 75vh

.hero__content
  align-items center
  display flex
  height 100%
  justify-content center
  max-height calc(100vh)
  position absolute
  transform translateY(-140px)
  width 100%

  @media $media-query-block-intro
    transform none

.hero__background
  bottom 0
  left 0
  position fixed
  right 0
  top 0
  transform translate3d(0, 0, 0) scale(1.1)
  transform-origin 50% 30%

  @media $media-query-mobile
    height 100vh
    position absolute

  .hero__image
    background-image url(images/best-cover-ever-hero-desktop@2x.jpg)
    background-position center
    background-repeat no-repeat
    background-size 135%
    height 100vh
    left 0
    position absolute
    top 0
    width 100vw

    @media (orientation portrait) and (max-width 1024px)
      background-image url(images/best-cover-ever-hero-mobile@2x.jpg)
      background-size cover
      transform scale(1.2)

.hero__video
  bottom 0
  left 0
  position absolute
  right 0
  top 0

  video
    display block
    height 100%
    left 50%
    min-height 100vw
    opacity 0
    pointer-events none
    position absolute
    top 0
    transform translateX(-50%)
    width auto
