$color-background-white = #fff
$color-background-blue = #1d8ad8

$color-headline-black = #1b1c24
$color-headline-blue = #1d8ad8
$color-headline-white = #fff

$color-play-blue = #38f4fd

$color-copy-blue = #1d8ad8
$color-footer-blue = #b5fdfd

$color-footer-white = #fff
