$easing-ease-out-back = cubic-bezier(.175, .885, .32, 1.275)
$easing-ease-out-quint = cubic-bezier(.23, 1, .32, 1)
$easing-snap = cubic-bezier(.165, .840, .440, 1.000)
$easing-button = cubic-bezier(.20, 1.000, .30, 1.000)
