/* button stuff */

@keyframes moveUpButton
  0%
    opacity 1
    transform translateY(0)
  100%
    opacity 0
    transform translateY(-100%)

@keyframes moveDownButton
  0%
    opacity 0
    transform translateY(-100%)
  100%
    opacity 1
    transform translateY(0)

/* modal stuff */

@keyframes moveUpModal
  0%
    transform translateY(150px)
  100%
    transform translateY(0)

@keyframes moveDownModal
  0%
    transform translateY(0px)
  100%
    transform translateY(150px)

@keyframes slideUpContent
  0%
    opacity 1
  100%
    opacity .9

@keyframes slideDownContent
  0%
    opacity .9
  100%
    opacity 1

/* faqs items */

@keyframes hideFaqsItem
  0%
    opacity 1
    transform translateY(0)
  100%
    opacity 0
    transform translateY(-20px)

@keyframes showFaqsItem
  0%
    opacity 0
    transform translateY(-20px)
  100%
    opacity 1
    transform translateY(0)

/* faqs toggle */

@keyframes expandBeforeBar
  for i in 0..2
    {50% * i}
      transform translate3d(0, -50%, 0) rotate(90deg * i)

@keyframes expandAfterBar
  for i in 0..2
    {50% * i}
      transform translate3d(0, -50%, 0) rotate(90deg * i + 90deg)

@keyframes collapseBeforeBar
  for i in 0..2
    {50% * i}
      transform translate3d(0, -50%, 0) rotate(360deg - 90deg * i)

@keyframes collapseAfterBar
  for i in 0..2
    {50% * i}
      transform translate3d(0, -50%, 0) rotate(360deg - 90deg * i)
