.block
  margin 0 auto
  max-width 100%
  overflow hidden
  position relative
  width 1261px
  z-index 4

  .block__content
    display flex
    margin 0 60px

    @media $media-query-mobile
      display block
      margin 0 30px
